<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <script type="text/javascript" src={% static "js/jquery.1.11.1.js" %}></script>
    <script type="text/javascript" src={% static "js/async-form.js" %}></script>
    <script type="text/javascript">
        var voteStatus = [];
        var numVotes = [];
        {% for p in posts %}
            voteStatus[{{p.id}}] = {{p.vote}}
            numVotes[{{p.id}}] = {{p.num_votes}}
        {% endfor %}

        function vote (obj, id, type) {
            $.ajax({type: "POST",
                url: "{% url 'vote' %}",
                data: {
                    action: type,
                    postId: id,
                    status: voteStatus[id],
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data,status){
                    if (data.success == true)
                    {
                        data.vote = parseInt(data.vote);
                        numVotes[id] += data.vote - voteStatus[id];
                        $(obj.parentNode).find("#votes").text(numVotes[id]);
                        voteStatus[id] = data.vote;
                        if(voteStatus[id] == 1)
                            $(obj.parentNode).find("#upvote")[0].style.color = "green";
                        else
                            $(obj.parentNode).find("#upvote")[0].style.color = "silver";

                        if(voteStatus[id] == -1)
                            $(obj.parentNode).find("#downvote")[0].style.color = "red";
                        else
                            $(obj.parentNode).find("#downvote")[0].style.color = "silver";
                    }
                }
            });
        }
    </script>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse" >
        <div class="container" style="margin-left:0px;margin-right:0px;width:98%">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href={% url 'index' %}><img src={% static "images/a.png" %} style="height:45px;width:70px"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href={% url 'feed' "hot" %} id="hot">HOT</a></li>
                    <li><a href={% url 'feed' "new" %} id="new">NEW</a></li>
                    <li><a href={% url 'feed' "subscribed" %} id="subscribed">SUBSCRIBED</a></li>
                    <li class="dropdown">
                        <a id="top" class="dropdown-toggle" data-toggle="dropdown">TOP</a>
                        <ul class="dropdown-menu">
                            <li><a href={% url 'topfeed' "day" %} id="day">Past 24hrs</a></li>
                            <li><a href={% url 'topfeed' "week" %} id="week">Past Week</a></li>
                            <li><a href={% url 'topfeed' "month" %} id="month">Past Month</a></li>
                            <li><a href={% url 'topfeed' "year" %} id="year">Past Year</a></li>
                            <li><a href={% url 'topfeed' "all" %} id="all">All Time</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                    <li><a href={% url 'user' user %}>{{ user }} </a></li>
                    <li><a href={% url 'logout'%}>Logout</a></li>
                    {% else %}
                    <li><a href="" data-toggle="modal" data-target="#myModal">Login or SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal (Login Pop up) -->
    {% include "modal.html" %}
    <br>

    <!-- Sidebar -->
    <div class="col-md-4 pull-right">
        <h4>Popular Subreddits to Subsribe</h4>
        {% for subr in popularsubreddits %}
            <li><a href={% url 'subreddit' subr %}>{{subr}}</a></li>
        {% endfor %}
        {% if user.is_authenticated %}
        <h5><a class="btn btn-success btn-active" href={% url 'newpost' %}>Submit a new post</a></h5>
        <h5><a class="btn btn-success btn-active" href={% url 'addsubredditform' %}>Create a Subreddit</a></h5>
        {% else %}
        <h5><a class="btn btn-success btn-active btn-sm" data-toggle="modal" data-target="#myModal">Sign-in</a> to post</h5>
        <h5><a class="btn btn-success btn-active btn-sm" data-toggle="modal" data-target="#myModal">Sign-in</a> to create a new subreddit</h5>
        {% endif %}
        {% if user.is_authenticated %}
        <br><h4>Upcoming Events from Subscribed Subreddits</h4>
        {% for e in events %}
        <div class="col-md-12">  
            <div class="row">
                <div class="col-md-2">
                    <img src={% static "images/a.png" %} style="width:60px;height:60px;">
                </div>
                <div class="col-md-9 col-md-offset-1">
                    <a href={% url 'post' e.id %}>{{e.title}}</a> 
                    <p class="comments">Posted By: <a href={% url 'user' e.posted_by %} class="comments">{{e.posted_by}}</a> to <a href={% url 'subreddit' e.posted_in %} class="comments">{{e.posted_in}}</a></p>
                    <p class="comments" id="time">Time: {{e.time}}</p>
                    <p class="comments" id="time">Venue: {{e.venue}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Main Content -->
    <div id="container">
        {% for p in posts %}
        <div class="col-md-8">
            <div class="col-md-1" data-toggle="tooltip" {% if user.is_authenticated %} title="Click to Vote" {% else %} title="Login to Vote" {% endif %}>
                <span id="upvote" onclick="vote(this, {{p.id}}, 1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-up" {% else %} class="glyphicon glyphicon-arrow-up disabled" {% endif %} {% if p.vote == 1 %} style="color:green" {% else %} style="color:silver"{% endif %} aria-hidden="true"></span>
                <center>
                    <p class="comments" id="votes">{{p.num_votes}}</p>
                </center>
                <span id="downvote" onclick="vote(this, {{p.id}}, -1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-down" {% else %} class="glyphicon glyphicon-arrow-down disabled" {% endif %} {% if p.vote == -1 %} style="color:red"  {% else %} style="color:silver" {% endif %} aria-hidden="true"></span>
            </div>
            <div class="col-md-3">
            {% if p.type == 'text' %}
            <img src={% static "images/a.png" %} style="width:80px">
            {% else %}
            <img src={{ p.imgurl }} style="width:80px">
            {% endif %}
            </div>
            <div class="col-md-8">
                {% if p.type == 'text' %}
                <a href={% url 'post' p.id %}>{{p.title}}</a>  | {{p.site}}
                {% else %}
                <a href={{p.link}}>{{p.title}}</a> | {{p.site}}
                {% endif %}
                <p class="comments">Posted By: <a href={% url 'user' p.posted_by %} class="comments">{{p.posted_by}}</a> to <a href={% url 'subreddit' p.posted_in %} class="comments">{{p.posted_in}}</a></p>
                <p class="comments" id="time">{{p.created_on}}</p>
                <p class="comments"><a href={% url 'post' p.id %} class="comments">{{p.num_comments}}
                {% if p.num_comments < 2 %}comment{%else %}comments{%endif %}</a></p>

            </div>
        </div>
        {% endfor%}
    </div>

    <script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
</body>
</html>