<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <script type="text/javascript" src={% static "js/jquery.1.11.1.js" %}></script>
    <script type="text/javascript">
        var voteStatus = [];
        var numVotes = [];
        voteStatus[{{post.id}}] = {{post.vote}}
        numVotes[{{post.id}}] = {{post.num_votes}}
        {% for c in comments %}
            voteStatus[{{c.id}}] = {{c.vote}}
            numVotes[{{c.id}}] = {{c.num_votes}}
        {% endfor %}

        function vote (obj, id, type) {
            $.ajax({type: "POST",
                url: "{% url 'vote' %}",
                data: { 
                    action: type,
                    postId: id,
                    status: voteStatus[id],
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data,status){
                    if (data.success == true)
                    {
                        data.vote = parseInt(data.vote);
                        numVotes[id] += data.vote - voteStatus[id];
                        $(obj.parentNode).find("#votes").text(numVotes[id]);
                        voteStatus[id] = data.vote;
                        if(voteStatus[id] == 1)
                            $(obj.parentNode).find("#upvote")[0].style.color = "green";
                        else
                            $(obj.parentNode).find("#upvote")[0].style.color = "silver";

                        if(voteStatus[id] == -1)
                            $(obj.parentNode).find("#downvote")[0].style.color = "red";
                        else
                            $(obj.parentNode).find("#downvote")[0].style.color = "silver";
                    }
                }
            });
        }

        function reply(obj)
        {
            obj.style.display = "none";
            obj.parentNode.nextElementSibling.style.display = "block";
        }

        function postreply(obj,cid)
        {
            $.ajax({type: "POST",
                url: "{% url 'submitcomment' %}",
                data: { 
                    comment_on: cid,
                    reply: obj.previousElementSibling.value,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data,status){
                    if (data.success == true)
                        location.reload();
                }
            });
        }
    </script>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse" >
        <div class="container" style="margin-left:0px;margin-right:0px;width:98%">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href={% url 'index' %}><img src={% static "images/a.png" %} style="height:45px;width:70px"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">COMMENTS</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li><a href={% url 'user' user %}>{{ user }} </a></li>
                        <li><a href={% url 'logout'%}>Logout</a></li>
                    {% else %}
                        <li><a href="" data-toggle="modal" data-target="#myModal">Login or SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal (Login Pop up) -->
    <div id="myModal" class="modal" role="dialog" tabindex='-1'>
    <center>
        <div class="modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-md-6" style="border-right: 1px solid #ddd;">
                    <h5 style="color:#049">CREATE ACCOUNT</h5>
                    <form role="form" action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email">
                        <input type="text" class="form-control" name="password" id="password" placeholder="Enter Password">
                        <input type="submit" class="btn btn-info btn-active" value="CREATE">    
                    </form>
                </div>
                <div class="col-md-6">
                    <h5 style="color:#049">LOGIN</h5>
                    <form role="form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
                        <input type="text" class="form-control" name="password" id="password" placeholder="Enter Password">
                        <input type="submit" class="btn btn-info btn-active" value="LOGIN">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>
        </div>
    </center>
    </div>
    <br>
    
    <!-- Sidebar -->
    <div class="col-md-4 pull-right">
        <h5>Related Subreddits</h5>
    </div>

    <!-- Main Content -->

    <!-- POST -->
    <div class="col-md-8">
        <!-- TODO -->
        {# <!-- {% if user == "null" %} --> #}
        <div class="col-md-1" data-toggle="tooltip" {% if user.is_authenticated %} title="Click to Vote" {% else %} title="Login to Vote" {% endif %}>
            <span id="upvote" onclick="vote(this, {{post.id}}, 1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-up" {% else %} class="glyphicon glyphicon-arrow-up disabled" {% endif %} {% if post.vote == 1 %} style="color:green" {% else %} style="color:silver"{% endif %} aria-hidden="true"></span>
            <center>
                <p class="comments" id="votes">{{post.num_votes}}</p>
            </center>
            <span id="downvote" onclick="vote(this, {{post.id}}, -1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-down" {% else %} class="glyphicon glyphicon-arrow-down disabled" {% endif %} {% if post.vote == -1 %} style="color:red"  {% else %} style="color:silver" {% endif %} aria-hidden="true"></span>
        </div>
        <div class="col-md-2">
            <img src={% static "images/a.png" %} style="width:60px;height:60px;">
        </div>
        <div class="col-md-9">
            {% if post.type == 'text' %}
            {{post.title}} 
            {% else %}
            <a href={{post.link}}>{{post.title}}</a>
            {% endif %}
            <br><br><a href="#" class="comments">save</a> 
        </div>
        <br>
        <div class="col-md-8 col-md-offset-2">
            {{post.text}}
        </div>
        <div class="col-md-12 col-md-offset-2">
            <!-- <form role="form" action="{% url 'signup' %}" method="post" class="form-inlinehorizontal"> -->
            <!-- {% csrf_token %} -->
                <input type="hidden" name="comment_on" id="comment_on" value="{{post.id}}">
                <textarea type="text" class="form-control" name="reply" id="reply" placeholder="Write a Comment"></textarea>
                {% if user.is_authenticated %}
                <input type="submit" class="btn btn-info btn-active btn-xs" onclick="postreply(this, {{post.id}})" value="POST">  
                {% else %}
                <input class="btn btn-info btn-active btn-xs" data-toggle="modal" data-target="#myModal" value="Login to Comment"> 
                {% endif %}
            <!-- </form><br> -->
        </div>
    </div>
    <br>
    <!-- COMMENTS -->
    <div class="col-md-8">
        <h4>Comments</h4><hr>
    </div>
<!--     {% comment %}
    {% for c in comments %}
    <div class="col-md-8">  
        <div class="col-md-1" data-toggle="tooltip" title="Login to Vote">
            <span class="glyphicon glyphicon-arrow-up disabled" aria-hidden="true"></span>
            <center>
                <p class="comments">12</p>
            </center>
            <span class="glyphicon glyphicon-arrow-down disabled" aria-hidden="true"></span>
        </div>
        <div class="col-md-10">
            <p class="comments"><a href={% url 'user' c.posted_by %}  class="comments">{{c.posted_by}}</a> {{c.created_on}}</p>
            <p>{{c.text}}</p> 
            <p class="comments"><a href="post.html" class="comments">reply </a></p>
        </div>
    {#  {% include 'comment.html' %} #}
    </div>
    {% endfor %}
    {% endcomment %} -->

    <div>
    {% for c in comments %}
    {% if c.child == 1 %}
    <div class="col-md-11 col-md-offset-1" style="border-left:1px dotted #000"> 
    {% elif c.child == 0 and c.depth == 0 %}    
    </div>
    <div class="col-md-8">
    {% elif c.child == 0 %}    
    </div>
    <div class="col-md-11 col-md-offset-1" style="border-left:1px dotted #000">
    {% else %}
    {% for i in c.childrange %}
    </div>
    {% endfor %}
    {% if c.depth == 0 %}    
    </div>
    <div class="col-md-8">
    {% else %}    
    </div>
    <div class="col-md-11 col-md-offset-1" style="border-left:1px dotted #000">
    {% endif %}
    {% endif %}
        <!-- TODO --> 
        {# <!-- {% if user == "null" %} --> #}
        <div class="col-md-1" data-toggle="tooltip" {% if user.is_authenticated %} title="Click to Vote" {% else %} title="Login to Vote" {% endif %}>
             <span id="upvote" onclick="vote(this, {{c.id}}, 1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-up" {% else %} class="glyphicon glyphicon-arrow-up disabled" {% endif %} {% if c.vote == 1 %} style="color:green" {% else %} style="color:silver"{% endif %} aria-hidden="true"></span>
            <center>
                <p class="comments" id="votes">{{c.num_votes}}</p>
            </center>
            <span id="downvote" onclick="vote(this, {{c.id}}, -1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-down" {% else %} class="glyphicon glyphicon-arrow-down disabled" {% endif %} {% if c.vote == -1 %} style="color:red"  {% else %} style="color:silver" {% endif %} aria-hidden="true"></span>
        </div>
        <div class="col-md-10">
            <p class="comments"><a href={% url 'user' c.posted_by %}  class="comments">{{c.posted_by}}</a> {{c.created_on}}</p>
            <p>{{c.text}}</p> 
            <p class="comments"><a class="comments" onclick="reply(this)">reply </a></p>
            <div id="replybox" style="display:none">
                <!-- <form role="form" action="{% url 'signup' %}" method="post"> -->
                <!-- {% csrf_token %} -->
                <input type="hidden" name="comment_on" id="comment_on" value="{{c.id}}">
                <textarea type="text" class="form-control" name="reply" id="reply" placeholder="Post a reply"></textarea>
                {% if user.is_authenticated %}
                <input type="submit" class="btn btn-info btn-active btn-xs" onclick="postreply(this, {{c.id}})" value="POST"> {% else %}
                <input class="btn btn-info btn-active btn-xs" data-toggle="modal" data-target="#myModal" value="Login to Comment"> 
                {% endif %}   
                <!-- </form><br> -->
            </div>
        </div>
    {% endfor %}
    </div>
    
    <script type="text/javascript" src={% static "js/jquery.1.11.1.js" %}></script>
    <script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
</body>
</html>