<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<link rel="stylesheet" href={% static "css/bootstrap.css" %}>
</head>

<body>
	<!-- Navbar -->
	<div class="navbar navbar-inverse" >
		<div class="container" style="margin-left:0px;margin-right:0px;width:98%">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" href={% url 'index' %}><img src={% static "images/a.png" %} style="height:45px;width:70px"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">COMMENTS</a></li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					{% if user %}
						<li><a href={% url 'user' user %}>{{ user }} </a></li>
						<li><a href={% url 'logout'%}>Logout</a></li>
					{% else %}
						<li><a href="" data-toggle="modal" data-target="#myModal">Login or SignUp</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	<!-- Sidebar -->
	<div class="col-md-4 pull-right">
		<h5>Related Subreddits</h5>
	</div>

	{# <!-- Main Content --> #}

	{# <!-- POST --> #}
	<div class="col-md-8">	
		{# <!-- TODO --> #}
		{# <!-- {% if user == "null" %} --> #}
		<div class="col-md-1" data-toggle="tooltip" title="Login to Vote">
			<span class="glyphicon glyphicon-arrow-up disabled" onclick="alert('abcd')" aria-hidden="true"></span>
			<center>
				<p class="comments">12</p>
			</center>
			<span class="glyphicon glyphicon-arrow-down disabled" onclick="alert('abcd')" aria-hidden="true"></span>
		</div>
		<div class="col-md-2">
			<img src={% static "images/a.png" %} style="width:60px;height:60px;">
		</div>
		<div class="col-md-9">
			<a href="#">sdfghjkldfghjkldfghnjkdxfgbh</a> 
			<br><br><a href="#" class="comments">save</a> 
		</div>
		<br>
		<div class="col-md-8 col-md-offset-2">
			POST
		</div>
	</div>
	<br>
	<!-- COMMENTS -->
	<div class="col-md-8">
		<h4>Comments</h4><hr>
	</div>	
	{# <!-- TODO: For loop  --> #}
	{# <!-- https://www.reddit.com/r/django/comments/3ar3ga/what_is_the_best_way_to_do_nested_comments_in/ --> #}
{# <!--
	{% for obj in objects %}
	    <li>{{ obj.name }} - {{ obj.locality }}</li>
	{% endfor %} -->#}
	<div class="col-md-8">	
		{# <!-- TODO --> #}
		{# <!-- {% if user == "null" %} --> #}
		<div class="col-md-1" data-toggle="tooltip" title="Login to Vote">
			<span class="glyphicon glyphicon-arrow-up disabled" onclick="alert('abcd')" aria-hidden="true"></span>
			<center>
				<p class="comments">12</p>
			</center>
			<span class="glyphicon glyphicon-arrow-down disabled" onclick="alert('abcd')" aria-hidden="true"></span>
		</div>
		<div class="col-md-10">
			<p class="comments"><a href="post.html" class="comments">{{ obj.postedby }}</a> points</p>
			<p>sdfghjkldfghjkldfghnjkdxfgbh</p> 
			<p class="comments"><a href="post.html" class="comments">reply </a></p>
		</div>

		<div class="col-md-11 col-md-offset-1" style="border-left:1px dotted #000">	
			{# <!-- TODO --> #}
			{# <!-- {% if user == "null" %} --> #}
			<div class="col-md-2" data-toggle="tooltip" title="Login to Vote">
				<span class="glyphicon glyphicon-arrow-up disabled" onclick="alert('abcd')" aria-hidden="true"></span>
					<p class="comments">12</p>
				<span class="glyphicon glyphicon-arrow-down disabled" onclick="alert('abcd')" aria-hidden="true"></span>
			</div>
			<div class="col-md-10">
				<p class="comments"><a href="post.html" class="comments">{{ obj.postedby }}</a> points</p>
				<p>sdfghjkldfghjkldfghnjkdxfgbh</p> 
				<p class="comments"><a href="post.html" class="comments">reply </a></p>
			</div>

			<div class="col-md-11 col-md-offset-1" style="border-left:1px dotted #000">	
				{# <!-- TODO --> #}
				{# <!-- {% if user == "null" %} --> #}
				<div class="col-md-2" data-toggle="tooltip" title="Login to Vote">
					<span class="glyphicon glyphicon-arrow-up disabled" onclick="alert('abcd')" aria-hidden="true"></span>
						<p class="comments">12</p>
					<span class="glyphicon glyphicon-arrow-down disabled" onclick="alert('abcd')" aria-hidden="true"></span>
				</div>
				<div class="col-md-10">
					<p class="comments"><a href="post.html" class="comments">{{ obj.postedby }}</a> points</p>
					<p>sdfghjkldfghjkldfghnjkdxfgbh</p> 
					<p class="comments"><a href="post.html" class="comments">reply </a></p>
				</div>

				<div class="col-md-11 col-md-offset-1" style="border-left:1px dotted #000">	
					{# <!-- TODO --> #}
					{# <!-- {% if user == "null" %} --> #}
					<div class="col-md-2" data-toggle="tooltip" title="Login to Vote">
						<span class="glyphicon glyphicon-arrow-up disabled" onclick="alert('abcd')" aria-hidden="true"></span>
							<p class="comments">12</p>
						<span class="glyphicon glyphicon-arrow-down disabled" onclick="alert('abcd')" aria-hidden="true"></span>
					</div>
					<div class="col-md-10">
						<p class="comments"><a href="post.html" class="comments">{{ obj.postedby }}</a> points</p>
						<p>sdfghjkldfghjkldfghnjkdxfgbh</p> 
						<p class="comments"><a href="post.html" class="comments">reply </a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>