<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <script type="text/javascript" src={% static "js/jquery.1.11.1.js" %}></script>
    <script type="text/javascript">
        var voteStatus = [];
        var numVotes = [];
        {% for p in posts %}
            voteStatus[{{p.id}}] = {{p.vote}}
            numVotes[{{p.id}}] = {{p.num_votes}}
        {% endfor %}

        function vote (obj, id, type) {
            $.ajax({type: "POST",
                url: "{% url 'vote' %}",
                data: { 
                    action: type,
                    postId: id,
                    status: voteStatus[id],
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data,status){
                    if (data.success == true)
                    {
                        data.vote = parseInt(data.vote);
                        numVotes[id] += data.vote - voteStatus[id];
                        $(obj.parentNode).find("#votes").text(numVotes[id]);
                        voteStatus[id] = data.vote;
                        if(voteStatus[id] == 1)
                            $(obj.parentNode).find("#upvote")[0].style.color = "green";
                        else
                            $(obj.parentNode).find("#upvote")[0].style.color = "silver";

                        if(voteStatus[id] == -1)
                            $(obj.parentNode).find("#downvote")[0].style.color = "red";
                        else
                            $(obj.parentNode).find("#downvote")[0].style.color = "silver";
                    }
                }
            });
        }

        function subscribe (obj)
        {
            $.ajax({type: "POST",
                url: "{% url 'subscribe' %}",
                data: { 
                    subreddit: '{{ subreddit }}',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data,status){
                    if (data.success == true)
                    {
                        obj.classList.remove('btn-success');
                        obj.classList.add('btn-danger');
                        obj.innerHTML = "Unsubscribe";
                        obj.onclick = function() { unsubscribe(this); };
                    }
                    else
                    {
                        alert(data.Error);
                    }
                }
            });            
        }

        function unsubscribe (obj)
        {
            $.ajax({type: "POST",
                url: "{% url 'unsubscribe' %}",
                data: { 
                    subreddit: '{{ subreddit }}',
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success:function(data,status){
                    if (data.success == true)
                    {
                        obj.classList.remove('btn-danger');
                        obj.classList.add('btn-success');
                        obj.innerHTML = "Subscribe";
                        obj.onclick = function() { subscribe(this); };
                    }
                }
            });            
        }
    </script>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar navbar-inverse" >
        <div class="container" style="margin-left:0px;margin-right:0px;width:98%">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href={% url 'index' %}><img src={% static "images/a.png" %} style="height:45px;width:70px"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><h6><strong>{{ subreddit }}</strong></h6></li>
                    <li><a id="hot">HOT</a></li>
                    <li><a id="new">NEW</a></li>
                    <li><a id="rising">RISING</a></li>
                    <li class="dropdown">
                        <a id="top" class="dropdown-toggle" data-toggle="dropdown">TOP</a>
                        <ul class="dropdown-menu">
                            <li><a id="day">Past 24hrs</a></li>
                            <li><a id="week">Past Week</a></li>
                            <li><a id="month">Past Month</a></li>
                            <li><a id="year">Past Year</a></li>
                            <li><a id="all">All Time</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                    <li><a href={% url 'user' user %}>{{ user }} </a></li>
                    <li><a href={% url 'logout'%}>Logout</a></li>
                    {% else %}
                    <li><a href="" data-toggle="modal" data-target="#myModal">Login or SignUp</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal (Login Pop up) -->
    <div id="myModal" class="modal" role="dialog" tabindex='-1'>
    <center>
        <div class="modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-md-6" style="border-right: 1px solid #ddd;">
                    <h5 style="color:#049">CREATE ACCOUNT</h5>
                    <form role="form" action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email">
                        <input type="text" class="form-control" name="password" id="password" placeholder="Enter Password">
                        <input type="submit" class="btn btn-info btn-active" value="CREATE">    
                    </form>
                </div>
                <div class="col-md-6">
                    <h5 style="color:#049">LOGIN</h5>
                    <form role="form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
                        <input type="text" class="form-control" name="password" id="password" placeholder="Enter Password">
                        <input type="submit" class="btn btn-info btn-active" value="LOGIN">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            </div>
        </div>
        </div>
    </center>
    </div>
    <br>

    <!-- Sidebar -->
    <div class="col-md-4 pull-right">
        <h4>About {{ subreddit }}:</h4>
        <p>{{ subreddit.description }}</p>
        <h4>Popular Subreddits</h4>
        <h5>{{num_subscribers}} Subscribers</h5>
        {% if user.is_authenticated %}
        <h5><a class="btn btn-success btn-active" href={% url 'newpost' %}>Submit a new post</a></h5>
            {% if subscribed %}
            <h5><a class="btn btn-danger btn-active" onclick="unsubscribe(this)" %}>Unsubscribe</a></h5>
            {% else %}
            <h5><a class="btn btn-success btn-active" onclick="subscribe(this)" %}>Subscribe</a></h5>
            {% endif %}
        {% else %}
        <h5><a data-toggle="modal" data-target="#myModal">Sign-in</a> to post</h5>
        <h5><a data-toggle="modal" data-target="#myModal">Subscribe</a></h5>
        {% endif %}
        <!-- <h4><strong>Rules:</strong></h4>
        <ul>
            {#
            {% for r in rules %}
                <li>{{r}}</li>
            {% endfor %}
            #}
        </ul> -->
    </div>

    <!-- Main Content -->
    <div id="container">
        {% for p in posts %}
        <div class="col-md-8">  
            <div class="col-md-1" data-toggle="tooltip" {% if user.is_authenticated %} title="Click to Vote" {% else %} title="Login to Vote" {% endif %}>
                <span id="upvote" onclick="vote(this, {{p.id}}, 1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-up" {% else %} class="glyphicon glyphicon-arrow-up disabled" {% endif %} {% if p.vote == 1 %} style="color:green" {% else %} style="color:silver"{% endif %} aria-hidden="true"></span>
                <center>
                    <p class="comments" id="votes">{{p.num_votes}}</p>
                </center>
                <span id="downvote" onclick="vote(this, {{p.id}}, -1)" {% if user.is_authenticated %} class="glyphicon glyphicon-arrow-down" {% else %} class="glyphicon glyphicon-arrow-down disabled" {% endif %} {% if p.vote == -1 %} style="color:red"  {% else %} style="color:silver" {% endif %} aria-hidden="true"></span>
            </div>
            <div class="col-md-2">
                <img src={% static "images/a.png" %} style="width:60px;height:60px;">
            </div>
            <div class="col-md-9">
                {% if p.type == 'text' %}
                <a href={% url 'post' p.id %}>{{p.title}}</a> 
                {% else %}
                <a href={{p.link}}>{{p.title}}</a>
                {% endif %}
                <p class="comments">Posted By: <a href={% url 'user' p.posted_by %} class="comments">{{p.posted_by}}</a> to <a href={% url 'subreddit' p.posted_in %} class="comments">{{p.posted_in}}</a></p>
                <p class="comments" id="time">{{p.created_on}}</p>
                <p class="comments"><a href={% url 'post' p.id %} class="comments">{{p.num_comments}} 
                {% if p.num_comments < 2 %}comment{%else %}comments{%endif %}</a> points</p> 

            </div>
        </div>
        {% endfor%}
    </div>

    <script type="text/javascript" src={% static "js/bootstrap.js" %}></script>
</body>
</html>