<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<link rel="stylesheet" href={% static "css/bootstrap.css" %}>
</head>

<body>
	<!-- Navbar -->
	<div class="navbar navbar-inverse" >
		<div class="container" style="margin-left:0px;margin-right:0px;width:98%">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" href={% url 'index' %}><img src={% static "images/a.png" %} style="height:45px;width:70px"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">POSTS</a></li>
					<li><a href="#">COMMENTS</a></li>
					<li><a href="#">UPVOTED</a></li>
					<li><a href="#">DOWNVOTED</a></li>
					<li><a href="#">SAVED</a></li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li><a href="">{{ username }}</a></li>
					<li><a href={% url 'logout' %}>Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	
	<!-- Sidebar -->
	<div class="col-md-4 pull-right">
		<h5>Suggested Subreddits</h5>
	</div>

	<!-- Main Content -->
	<div class="col-md-8">	
		<div class="col-md-1">
			<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			<center>
				<p class="comments">12</p>
			</center>
			<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
		</div>
		<div class="col-md-2">
			<img src={% static "images/a.png" %} style="width:60px;height:60px;">
		</div>
		<div class="col-md-9">
			<a href="#">sdfghjkldfghjkldfghnjkdxfgbh</a> 
			<br><br><a href="#" class="comments">comments</a> 
		</div>
	</div>

	<div class="col-md-8">	
		<div class="col-md-1">
			<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
			<center>
				<p class="comments">12</p>
			</center>
			<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
		</div>
		<div class="col-md-2">
			<img src={% static "images/a.png" %} style="width:60px;height:60px;">
		</div>
		<div class="col-md-9">
			<a href="#">sdfghjkldfghjkldfghnjkdxfgbh</a> 
			<br><br><a href="#" class="comments">comments</a> 
		</div>
	</div>

	
	<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>